# Mission to Mars

## 1. Scraping

### NASA Mars News

#### Import dependencies

In [3]:
import pymongo
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
from pprint import pprint
import requests
import time

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

#### Visit the NASA's Mars News Webpage

In [5]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [6]:
time.sleep(5)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
article = soup.find("div", class_="list_text")
paragraph = soup.find("div", class_="article_teaser_body").text
title = soup.find("div", class_="content_title").text

#### Print the article's title and paragraph text

In [8]:
print("Title:",title)
print("-------")
print("Paragraph:",paragraph)

Title: Mars Now
-------
Paragraph: Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

### JPL Mars Space Images - Featured Image

####  · Visit the URL for JPL featured space image

In [9]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

#### · Use splinter to navigate the site and find the image url for the current featured Mars image

In [10]:
html_image = browser.html
soup = BeautifulSoup(html_image, "html.parser")
image = soup.find("img")
src = image.get("src")

#### · Assign the url string to a variable

In [11]:
featured_image_url = image_url + src

In [12]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/assets/logo_mars_trio_black@2x.png

### Mars Weather on Twitter

In [13]:
weather_url = "https://twitter.com/marswxreport"
browser.visit(weather_url)

In [14]:
time.sleep(3)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

tweet = soup.find_all("span", class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

In [15]:

for i in range(0,len(tweet)):
    try:
        if "InSight sol" in tweet[i].text:
            top_tweet = tweet[i].text
            break
    except:
        pass

print(top_tweet)

InSight sol 636 (2020-09-10) low -94.6ºC (-138.2ºF) high -17.1ºC (1.2ºF)
winds from the W at 7.3 m/s (16.4 mph) gusting to 20.9 m/s (46.8 mph)
pressure at 7.80 hPa

### Mars Facts

#### · Visit the Mars facts website

In [16]:
facts_url = "https://space-facts.com/mars/"

#### · Use Pandas to scrape the facts table

In [17]:
facts = pd.read_html(facts_url)

#### · Format the table

In [18]:
facts_df = facts[0]
facts_df.columns = ["Fact", "Value"]
facts_df.set_index(["Fact"])
facts_df.head(10)

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

#### · Convert the dataframe to an HTML table

In [19]:
html_facts = facts_df.to_html()
print(html_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Fact</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

#### Mars has four hemispheres: Cerberus, Schiaparelli, Syrtis Major, and Valles Marineris

In [20]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [21]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
hemisphere_list=[]

In [22]:
for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    hemispheres = soup.find("img", class_="wide-image")["src"]
    title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ hemispheres
    dictionary={"title":title,"img_url":img_url}
    hemisphere_list.append(dictionary)
    browser.back()

In [23]:
print(hemisphere_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]